<%@current_user.workouts.each do |w|%>
    <div><%= w.name %> | <%= link_to "View", workout_path(w) %> | <%= link_to "Edit", edit_workout_path(w) %> | <%= link_to "Add exercise", new_workout_exercise_path(w) %>
    <!--
    <%= link_to "View", workout_path(w) %> | <%= link_to "Edit", edit_workout_path(w) %> | <%= link_to "Add exercise", new_workout_exercise_path(w) %>| 
    <%= link_to "Delete", workout_path(w), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></p>
    -->
    <div class="exercise-list">
        <%w.exercises.each do |e|%>
            <%= react_component("Exercise", {workoutId: e.workout_id, exerciseID: e.id, exerciseName: e.name, repsGoal: e.reps_goal, reps_completed: e.reps_completed}) %>
        <% end %>
        </div>
    </div>
<% end %>