<h1><%=@workout.name%></h1> 
<%= link_to "Edit", edit_workout_path(@workout) %> | <%= link_to "Add exercise", new_workout_exercise_path(@workout) %>
    <ul>
    <%@workout.exercises.each do |e|%>
        <li><%= e.name %> <%= e.reps_goal %> <%= e.reps_completed %></li>
    <% end %>
    </ul>