<div>
<h1>Welcome to Fitness Tracker*</h1>
<sup>*name pending</sup>
</div>
<br>
<h2>Sign in </h2>
<div class="form-horizontal">
  <%= form_for :user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="form-group"> 
    <%= f.label :email, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group"> 
    <%= f.label :password, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div> 

  <div>
    <%= f.submit "Sign in" %>
    <%= link_to "Create an account", new_user_path %>
  </div>
  <% end %>
  <br>
  <p>E: adam@adam2.com</p>
  <p>P: Abc123456789!</p>
<button id="testUserSignin">Click to sign in as test user</button>

<script>
  let button = document.querySelector('button');

button.addEventListener('click', event => {
  email = document.getElementById('user_email')
  pw = document.getElementById('user_password')
  email.defaultValue =  "adam@adam2.com"
  pw.defaultValue =  "Abc123456789!"
  doc
});
</script>