<!DOCTYPE html>
<html>
  <head>
    <title>FitnessTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% if current_user %>
          <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav-item nav-link"}) do %>
            <input type=submit value='Log Out'>

            <%= link_to "Home", root_path %>
            <%= link_to "New Workout", new_workout_path %>
          <% end %>
        <% end %>
  <div class="yielded">
        <p id="notice"><%= notice %></p>
          <% if flash[:message] %>
            <div class="notice alert-warning">
              <p><%= flash[:message] %></p>
            </div>
          <% end %>
        <%= yield %>
      </div>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
